In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("chipotle.tsv",sep='\t')

In [5]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [11]:
df.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [13]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [21]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [24]:
len(df.columns)

5

In [26]:
df.shape

(4622, 5)

In [27]:
df.shape[1]

5

In [22]:
df.d() #counts each column have how much count  and ignores NA by default

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [23]:
df.value_counts() # counts each row how many times repated and ingores NA by default

order_id  quantity  item_name             choice_description                                                                       item_price
926       1         Chicken Bowl          [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]       $8.75         3
1011      1         Canned Soft Drink     [Coke]                                                                                   $1.25         3
724       1         Canned Soft Drink     [Coke]                                                                                   $1.25         3
1647      1         Chicken Bowl          [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]  $11.25        2
1778      1         Canned Soft Drink     [Lemonade]                                                                               $1.25         2
                                                                                                                                                ..
1         1         Nantucket Nectar      [Apple]                                                                                  $3.39         1
                    Izze                  [Clementine]                                                                             $3.39         1
1834      1         Chicken Salad Bowl    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]                          $8.75         1
6         1         Chicken Crispy Tacos  [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream]]   $8.75         1
1827      1         Canned Soft Drink     [Diet Coke]                                                                              $1.25         1
Name: count, Length: 3335, dtype: int64

In [30]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [46]:
df.groupby(["item_name"])["quantity"].sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [38]:
df.groupby(["item_name"])["quantity"].sum().sort_values(ascending=False).head(1).index[0]

'Chicken Bowl'

In [45]:
df.groupby(["item_name"])["quantity"].sum().sort_values(ascending=False).head(1).iloc[0]

np.int64(761)

In [51]:
df.groupby(["item_name"],as_index=False)["quantity"].sum().sort_values(by='quantity', ascending=False).head(1)

       item_name  quantity
17  Chicken Bowl       761

In [56]:
df.groupby(["item_name"],as_index=False)["quantity"].sum().sort_values(by='quantity', ascending=False).head(1).iloc[0][0]

/tmp/ipython-input-2797317223.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.groupby(["item_name"],as_index=False)["quantity"].sum().sort_values(by='quantity', ascending=False).head(1).iloc[0][0]

'Chicken Bowl'

In [57]:
df.groupby(["item_name"],as_index=False)["quantity"].sum().sort_values(by='quantity', ascending=False).head(1).iloc[0][1]

/tmp/ipython-input-396483078.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.groupby(["item_name"],as_index=False)["quantity"].sum().sort_values(by='quantity', ascending=False).head(1).iloc[0][1]

np.int64(761)

In [59]:
df.groupby(["choice_description"])["quantity"].sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

In [62]:
df["quantity"].sum()

np.int64(4972)

In [78]:
df["item_price"].astype("string").str[1:] # str[:] applices to each cell
#df["item_price"].astype("string")[1:3] # this applies to series level (single column consider as series)applices to each cell

1    $3.39
2    $3.39
Name: item_price, dtype: string

In [79]:
df["item_price"].astype("string").str.replace("$","")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: string

In [81]:
df["item_price"].astype("string").str.replace("$","").astype("float").sum()

np.float64(34500.16)

In [84]:
value =df["item_price"].astype("string").str[1:].astype("float").sum() #with doller back
print(f"${value}")

$34500.16

In [87]:
print(df["order_id"].sum())

4285772

In [92]:
df['item_price'] = df['item_price'].astype("string").str.replace('$', '', regex=False).astype(float)
avg_per_order = df.groupby("order_id")["item_price"].sum().mean()
print(avg_per_order)

18.811428571428568

In [94]:
len(df["item_name"].unique())

50

In [96]:
df["item_name"].nunique()

50